<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- <setting name="cacheEnabled" value="true"/>-->
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="true"/>
    </settings>
    <mappers>
        <mapper resource="com/zcreate/review/model/Health.xml"/>
        <mapper resource="com/zcreate/review/model/Instruction.xml"/>
        <mapper resource="com/zcreate/review/model/Drug.xml"/>
        <mapper resource="com/zcreate/review/model/Medicine.xml"/>
        <mapper resource="com/zcreate/review/model/Incompatibility.xml"/>
        <mapper resource="com/zcreate/review/model/SampleBatch.xml"/>
        <mapper resource="com/zcreate/review/model/SampleList.xml"/>
        <mapper resource="com/zcreate/review/model/Clinic.xml"/>
        <mapper resource="com/zcreate/review/model/RxDetail.xml"/>
        <mapper resource="com/zcreate/review/model/Import.xml"/>
        <mapper resource="com/zcreate/review/model/Task.xml"/>
        <mapper resource="com/zcreate/review/model/Doctor.xml"/>
        <mapper resource="com/zcreate/review/model/InPatient.xml"/>
        <mapper resource="com/zcreate/review/model/AdviceItem.xml"/>


        <mapper resource="com/zcreate/review/model/Search.xml"/>
        <mapper resource="com/zcreate/review/his/His.xml"/>
        <mapper resource="com/zcreate/review/model/DocFile.xml"/>
        <mapper resource="com/zcreate/review/model/Appeal.xml"/>
        <mapper resource="com/zcreate/review/model/Untoward.xml"/>
        <mapper resource="com/zcreate/review/model/AntiResearch.xml"/>
        <!--<mapper resource="com/zcreate/message/model/Message.xml"/>-->
        <mapper resource="com/zcreate/review/model/Rational.xml"/>
        <mapper resource="com/zcreate/review/model/RationalDepartConfig.xml"/>
        <mapper resource="com/zcreate/review/model/Infectious.xml"/>
        <!--<mapper resource="com/zcreate/review/his/PatientInfo.xml"/>-->

        <mapper resource="com/zcreate/common/model/Dict_Mssql.xml"/>

        <mapper resource="com/zcreate/remark/model/DrugRecords.xml"/>
        <mapper resource="com/zcreate/remark/model/Sunning.xml"/>
    </mappers>
</configuration>
